<!DOCTYPE html>
<html>
<head>
    <title>FoodieHub</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

<header class="main-header">
    <div class="logo">
        🍔 FoodieHub
    </div>

    <nav>
        <a href="/home">🏠Home</a>
        <a href="/menu">📋Menu</a>
        <a href="/cart">🛒Cart</a>
        <a href="/contact"> 📞Contact</a>
        <a href="/login">➜]Login</a>
    </nav>
</header>