<%- include("partials/header") %>


</div>

<section class="hero">
   
    <div class="hero-text">
        <h1>A TASTE SENSATION <br> LIKE NO OTHER</h1>
        <p>
            Order your favorite food online with fast delivery 
            and best quality ingredients.
        </p>

        <div class="buttons">
            <a href="/menu"><button class="btn-primary">Order Now</button></a>
            <button class="btn-outline">Know More</button>
        </div>
    </div>

    <div class="hero-image">
        <img src="/images/home.jpg" alt="Food">
    </div>

</section>
</section>


<%- include("partials/footer") %>
